<div class="grid grid-cols-3 gap-4 mt-10">

  <% (1..9).each do |i| %>
    <%= button_to path, params: {key => i}, method: :post, form_class: "mx-auto", data: { turbo: "false" } do %>
      <div class="
            h-32 w-32
            flex justify-center items-center rounded-md bg-white shadow-md
            transform hover:translate-x-0.5 hover:translate-y-0.5 hover:shadow-xl
      ">
        <p class="bold">box <%= i %></p>
      </div>
    <% end %>
  <% end %>
</div>